::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0; 
    padding: 0; 
    width: 100vw;
    height: 100vh;
    background-color: #e5e5e5;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #989898;
}

.hamburger_menu_button {
    font-size: 2.5rem; 
    background: transparent; 
    color: #ffffff;
    opacity: 0.7;
    border: none; 
}

.hamburger_menu_button:hover {
    transform: scale(1.1);
    transition: transform 200ms;
}

.hamburger_menu_button:focus {
    outline: none; 
}

/* Side Menu */
#side_menu {
    position: absolute; 
    /* display: none;  */
    top: 0px;
    right: -385px;
    z-index: 5; 
    width: 385px; 
    /* background-color: #e5e5e5; */
    background-color: #989898;
    height: 100vh;
    transition: right 500ms;
}

#side_menu.active {
    right: 0px;
    transition: right 500ms;
}

.exit_menu_button {
    font-size: 2.5rem;
    background: transparent;
    color: #555555;
    opacity: 0.7;
    border: none;
    margin-left: 16px;
    margin-top: 17px;
}

.exit_menu_button:hover {
    transform: scale(1.1);
    transition: transform 200ms;
}

.exit_menu_button:focus {
    outline: none; 
}

.side_menu_section {
    display: block; 
    margin-bottom: 8px; 
    width: 40px;
    height: 5px; 
}

.side_bar_links img {
    position: absolute;
    top: -65%;
    right: 50%;
    transform: translateX(50%);
    max-width: 50%;
    height: auto;
}

.side_bar_links { 
    /* display: grid; 
    grid-template-columns: 1fr;  */
    text-align: center; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%);
}

.side_bar_links a {
    display: block;
    margin-bottom: 60px; 
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.75rem; 
    font-weight: 700;
    color: #555555;
    opacity: 70%;  
    text-decoration: none;
}

.side_bar_links a:hover {
    transform: scale(1.1);
    transition: transform 200ms; 
}

.container {
    width: 100vw;
    height: calc(100vh - 89px);
    background-color: #e5e5e5;
    position: relative;
}

.sign_out_container {
    position: absolute;
    width: 65vw;
    height: 70vh;
    background-color: #c5c5c5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: #555555;
}

.sign_out_prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 70%;
    text-align: center;
    /* display: flex; 
    flex-direction: column; */
}

.sign_out_prompt h3 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 50px;
}

.sign_out_prompt p {
    font-size: 2rem;
    margin-bottom: 50px;
}

.sign_out_prompt button {
    border: none; 
    border-radius: 10px; 
    font-size: 2rem; 
    padding: 10px 30px;
    background-color: #ff9a3d;
    color: #555555;
}


