body {
    margin: 0; 
    padding: 0; 
    width: 100%;
    position: relative; 
}

/* Styling for the leaderboard container */
.container-fluid { 
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #555555;
}

.navbar_img {
    max-width: 4.5%;
    border-radius: 50%;
    margin-right: 25px;
}

.hamburger_menu_button {
    font-size: 2.5rem; 
    background: transparent; 
    color: #ffffff;
    opacity: 0.7;
    border: none; 
}

.hamburger_menu_button:hover {
    transform: scale(1.1);
    transition: transform 200ms;
}

.hamburger_menu_button:focus {
    outline: none; 
}

/* Side Menu */
#side_menu {
    position: absolute; 
    display: none; 
    top: 0px;
    right: -350px;
    z-index: 5; 
    width: 350px; 
    background-color: #e5e5e5;
    height: 100vh;
}

#side_menu .active {
    right: 350px;
}

.exit_menu_button {
    font-size: 2.5rem;
    background: transparent;
    color: #555555;
    opacity: 0.7;
    border: none;
    margin-left: 16px;
    margin-top: 17px;
}

.exit_menu_button:hover {
    transform: scale(1.1);
    transition: transform 200ms;
}

.exit_menu_button:focus {
    outline: none; 
}

.side_menu_section {
    display: block; 
    margin-bottom: 8px; 
    width: 40px;
    height: 5px; 
}

.side_bar_links { 
    /* display: grid; 
    grid-template-columns: 1fr;  */
    text-align: center; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%);
}

.side_bar_links a {
    display: block;
    margin-bottom: 60px; 
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.75rem; 
    font-weight: 700;
    color: #555555;
    opacity: 70%;  
    text-decoration: none;
}

.side_bar_links a:hover {
    transform: scale(1.1);
    transition: transform 200ms; 
}

.leaderboard_container {
    /* position: absolute;
    width: 425px; */
    height: calc(100vh - 89px); 
    /*left: 0px;*/
    /* top: 120px;*/
    color: white;
    background: #989898;
}

.lb_title {
    margin-top: 20px; 
    text-align: center;
    background: #555555;
    border-radius: 10px; 
}

.lb_title h3 {   
    font-family: 'Quicksand';
    text-align: center;
}

.lb_body {
    height: 300px;
    top: 240px;

    margin-top: 20px;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;

    background: #E5E5E5;
    border-radius: 20px;
}

.lb_body h3 {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    font-weight: bold;
}

.lb_body h4 {
    text-align:left;
    color: black;
    line-height: 1.6;
}

.lb_img {
    max-width: 16%;
    border-radius: 50%;
}

/* Styling for the feed container */
.quote_container {
    background-color: #e5e5e5;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    margin-top: 20px;  
    position: relative; 
}

.quote_container h3 { 
    font-weight: 700; 
}

.quote_author { 
    position: absolute; 
    right: 25px; 
    bottom: 15px; 
}

.user_post_container1 {
    background-color: #e5e5e5;
    border-radius: 10px;
    /*text-align: left;*/
    width: 300px;
    height: 179px;
    position: relative;
    left: 30px;
}

.newpost_alex_pic {
    border-radius: 50%;
    max-width: 15%;
    margin-left: 15px;
    margin-top: 15px;
}

.new_status {
    max-width: 100%;
    background-color: #c8c8c8;
}
.new_status input{
    width: 97%;
    opacity: 0;     
    border: transparent;  
    /* margin-top: 20px;  */
    margin-left: 5px;
    margin-right: 16px;
    /* padding-top: -5px; */
    /* border-color: transparent; */
    background-color: #c8c8c8;
    color: rgba(255, 255, 255, 0.7);
}

.share_button {
    max-width: 70px;
    max-height: 40px;
    background-color: #ff9a3d;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 80px;

}

.venice_img {
    border-radius: 10px;
    text-align: right;
    max-width: 270px;
    max-height: 175px;
    position: relative;
    left: 60px;
}

.post2_capt {
    background-color: #e5e5e5;
    border-radius: 10px;
    text-align: right;
    width: 270px;
    height: 99px;
    position: relative;
    left: 60px;
}

.running_img {
    border-radius: 10px;
    text-align: left;
    max-width: 210px;
    max-height: 150px;
    position: relative;
    left: 80px;
    bottom: 70px;
}

.post3_capt {
    background-color: #e5e5e5;
    border-radius: 10px;
    text-align: left;
    width: 210px;
    height: 50px;
    position: relative;
    left: 80px;
    bottom: 70px;
}

.post3_capt h2 {
    font-size: 92%;
    position: relative;
    top: 9px;
    text-align: center;
}

.post3_capt h3 {
    font-size: 80%;
    text-align: left;
    position: relative;
    left: 58px;
    top: 2px;
}

.post3_capt h4 {
    font-size: 70%;
    text-align: right;
    position: relative;
    right: 20px;
    bottom: 13px;
}

.user_cont3 {
    max-width: 16%;
    border-radius: 50%;
    text-align: left;
    position: relative;
    bottom: 60px;
    left: 10px;
}

.heart {
    background-color: red;
    display: inline-block;
    height: 6px;
    margin: 0 10px;
    position: relative;
    bottom: 45.5px;
    left: 147px;
    transform: rotate(-45deg);
    width: 6px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 6px;
    position: absolute;
    width: 6px;
  }
  
  .heart:before {
    top: -3px;
    left: 0;
  }
  
  .heart:after {
    left: 3px;
    top: 0;
  }


.hiking_img {
    border-radius: 10px;
    text-align: right;
    max-width: 300px;
    max-height: 120px;
    position: relative;
    left: 150px;
    top: 25px;
}

.post4_capt {
    background-color: #e5e5e5;
    border-radius: 10px;
    text-align: right;
    width: 255px;
    height: 50px;
    position: relative;
    left: 130px;
    top: 25px;
}


/* Styling for the goals container */
.goals_container {
    height: calc(100vh -89px);
    background: #989998;
    color: #ffffff;
    z-index: 1;
}

.goals_title {
    background: #555555;
    margin-top: 20px; 
    border-radius: 10px;
    padding: 5px;  
    text-align: center; 
}

.goals {
    background: #e5e5e5;
    margin-top: 20px; 
    border-radius: 10px; 
    padding: 10px 5px; 
    margin-left: 5px;
    color: #555555;
    
}

.goals input {
    font-size: 16px;
    opacity: 0;  
}

.goals .box {
    position: absolute;
    border: 1px solid #555555;
    border-radius: 5px; 
    height: 20px;
    width: 20px; 
    left: 30px; 

}

.goal { 
    display: inline-block; 
    margin-left: 20px; 
    font-size: 1rem;
}

.add_goal {
    background-color: #555555;
}

.add_goal input {
    width: 97%;
    opacity: 1;     
    border: none;  
    /* margin-top: 20px;  */
    margin-left: 5px;
    margin-right: 16px;
    /* padding-top: -5px; */
    border-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    background-color: #555555;
    color: rgba(255, 255, 255, 0.7);

}

.add_goal input:focus {
    outline: none;
}