*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color:#101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    margin:black;
    margin: 0 auto;
    background-color:black;
}

.logo_container{
    margin: auto;
    margin: orange;
    width: 160px;
    height: 60px;
    background: orange;
    border-radius: 50px;
    position: relative; 
    top: 7px;
}

.logo_container h1{
    color:white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Pacifico';
    font-size: 31px;
    font-weight: 200;
    position: relative; 
    top: 3px;
    left: 12px;
}

.logo_container h1 span{
    font-weight: 800;
}

.profile_pic {
    float: right;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid white;
    border-left: 25px solid white;
    border-bottom: 25px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    bottom: 45px;
    left: 85px;
}